<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>药品报损</title>
    <base th:href="@{/}">
    <link rel="stylesheet" th:href="@{static/layui/css/layui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{static/back/css/commond.css}" />
</head>
<body>
<h3 id="fun_title">药房库存药品查询</h3>
<form class="layui-form">
    <div class="layui-form-item" >

        <div class="layui-inline">
            <label class="layui-form-label" >药品名称 ：</label>
            <div class="layui-input-inline">
                <input name="drugcode" id="drugn1" class="layui-input" type="text" autocomplete="off">
            </div>
        </div>
    </div>
    <div class="layui-form-item" >
        <div class="layui-inline">
            <label class="layui-form-label" >是否特殊药品 ：</label>
            <div class="layui-input-inline">
            <select name="interest" id="drugn2" lay-filter="parentClass">
                <option value="是">是</option>
                <option value="否" selected="selected">否</option>
            </select>
            </div>
        </div>
        <div class="layui-inline">
            <button class="layui-btn " id="query_bt" type="button">查询</button>
        </div>
    </div>
</form>
<table class="layui-hide" id="test" lay-filter="drug"></table>

<h3 id="fun_title1">药房报损单</h3>
<table class="layui-hide" id="test1" lay-filter="drug1"></table>
<div class="layui-inline" style="text-align: center" >
    <button class="layui-btn " id="confirmation"  type="button">确认报损</button>
</div>
<div id="tb" style="display: none;width:500px;height:800px">
    <table class="layui-hide" id="test2" lay-filter="drug2"></table>
    <label class="layui-form-label" >报损类型 ：</label>
    <div class="layui-input-inline">
        <select name="interest" id="drugn3" lay-filter="parentClass">
            <option value="过期">过期</option>
            <option value="损毁" selected="selected">损毁</option>
        </select>
    </div>
    <div class="layui-upload">
<!--       		上传按钮-->
        <button class="layui-btn" id="uploadbtn" lay-event="uploadbtn"><i class="layui-icon"></i>上传图片</button>
        <div class="layui-upload-list">
<!--            预览图-->
            <img class="layui-upload-img" id="demo1" width="200px" height="200px" >
            <p id="demoText"></p>
        </div>

    </div>
    <h3 id="fun_title4">报损原因</h3>
    <textarea id="text1" placeholder="请输入原因（必填）" style="size: 200px"></textarea>


</div>


<script th:src="@{static/back/js/jquery-3.4.1.js}"></script>
<script th:src= "@{static/layui/layui.js}"></script>
<script th:src="@{static/back/js/drugdamaged.js}"></script>
<script type="text/html" id="toolbar1">
    <a class="layui-btn layui-btn-sm background-style" lay-event="add">添加报损</a>
</script>
<script type="text/html" id="toolbar2">
    <a class="layui-btn layui-btn-sm background-style" lay-event="delete">删除</a>
</script>
</body>
</html>