<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>低限设置界面</title>
    <base th:href="@{/}">
    <link rel="stylesheet" type="text/css" th:href="@{static/layui/css/layui.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{static/back/css/commond.css}" />

</head>
<body>
<h3 id="fun_title">药品低限设置</h3>
<form class="layui-form">
    <div class="layui-form-item" >

        <div class="layui-inline">
            <label class="layui-form-label" >药品编号 ：</label>
            <div class="layui-input-inline">
                <input name="drugcode" id="drugcode" class="layui-input" type="text" autocomplete="off">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" >药品名称 ：</label>
            <div class="layui-input-inline">
                <input name="commoname" id="commoname" class="layui-input" type="text" autocomplete="off">
            </div>
        </div>
        <button class="layui-btn " id="query_bt"  type="button">查询</button>
    </div>
</form>
<table class="layui-hide" id="demo" lay-filter="test"></table>


<script type="text/html" id="barDemo">

    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="lowestSetting">低限设置</a>

</script>

<script th:src="@{static/layui/layui.js}"></script>
<script th:src="@{static/back/js/drugstoredruginventory.js}"></script>



</body>
</html>