<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>盘点库存数量界面</title>
    <base th:href="@{/}">
    <link rel="stylesheet" type="text/css" th:href="@{static/layui/css/layui.css}"/>
</head>
<body>


<form class="layui-form">
    <div class="layui-form-item" >

        <div class="layui-inline">
            <label class="layui-form-label" >药品编号 ：</label>
            <div class="layui-input-inline">
                <input name="drugcode" id="drugcode" class="layui-input" type="text" autocomplete="off">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" >药品名称 ：</label>
            <div class="layui-input-inline">
                <input name="commoname" id="commoname" class="layui-input" type="text" autocomplete="off">
            </div>
        </div>
        <button class="layui-btn " id="query_bt"  type="button">查询</button>
    </div>
</form>
<div class="layui-btn-group demoTable">
    <button class="layui-btn layui-btn-warm" data-type="getCheckData">保存</button>
</div>
    <table class="layui-hide" id="demo2" lay-filter="test2"></table>

<h1  align="center">盘点清单</h1>
<h3>红色表示盘盈，绿色表示盘亏</h3>
    <table class="layui-hide" id="demo" lay-filter="test"></table>

<script type="text/html" id="Top1">
    {{#  if(d.druginventorynumber > d.finishedquantity){ }}
    <span style="background-color: #00FF00;">{{ d.relativequantity }}</span>
    {{#  } else { }}
    <span style="background-color: #FF5722;">{{ d.relativequantity }}</span>
    {{#  } }}
</script>

<script type="text/html" id="Top2">
    {{#  if(d.druginventorynumber > d.finishedquantity){ }}
    <span style="color: #00FF00;">{{ d.relativeamount }}</span>
    {{#  } else { }}
    <span style="color: #FF5722;">{{ d.relativeamount }}</span>
    {{#  } }}
</script>

<script type="text/html" id="toolbarDemo">

</script>

<script th:src="@{static/layui/layui.js}"></script>
<script th:src="@{static/back/js/inventory.js}"></script>
</body>
</html>