<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>后台管理主界面</title>
    <base th:href="@{/}">
    <link rel="stylesheet" th:href="@{static/layui/css/layui.css}">
    <script th:src="@{static/js/axios.js}"></script>
    <script th:src="@{static/js/vue.js}"></script>


</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">智慧医药管理系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-right" th:object="${session.user}">
            <li class="layui-nav-item" >
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    <span th:text="*{username}"></span>
            </li>
            <li class="layui-nav-item"><a href=""  onclick="if(confirm('确定注销账号吗?')==false)return false;">注销</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll" lay-accordion th:if="${menu}!= null">
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <li class="layui-nav-item" th:each="mapEntry:${menu}">
                    <a class="layui-layer-close" href="javascript:;" th:text="${mapEntry.key}"></a>
                    <dl class="layui-nav-child" th:each="menuList:${mapEntry.value}">
                        <dd><a th:href="${menuList.url}" target="main_self_frame" th:text="${menuList.menu}"></a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>


    <div class="layui-body">
        <!-- 内容主体区域 -->
        <iframe src=""
                name="main_self_frame" frameborder="0"
                id="myIframe"
                class="layadmin-iframe" style="width:100%" height="100%"></iframe>

    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
    </div>
</div>
<script th:src="@{static/back/js/jquery-3.4.1.js}"></script>
<script th:src="@{static/layui/layui.js}"></script>
<!--<script src="/static/back/js/adminOpe.js"></script>-->
<script>
	//JavaScript代码区域
	layui.use('element', function(){
		var element = layui.element;

	});
</script>
</body>
</html>