<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>菜单管理</title>
    <base th:href="@{/}">
    <link rel="stylesheet" type="text/css" th:href="@{static/layui/css/layui.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{static/back/css/commond.css}" />

</head>
<body>
<h3 id="fun_title">菜单管理</h3>
<form class="layui-form">
    <div class="layui-form-item" >

        <div class="layui-inline">
            <label class="layui-form-label" >菜单编号 ：</label>
            <div class="layui-input-inline">
                <input name="menucode" id="menucode" class="layui-input" type="text" autocomplete="off">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" >菜单名称 ：</label>
            <div class="layui-input-inline">
                <input name="menu" id="menu" class="layui-input" type="text" autocomplete="off">
            </div>
        </div>

        <button class="layui-btn " id="query_bt"  type="button">查询</button>
    </div>
</form>
<table class="layui-hide" id="test" lay-filter="table-user"></table>

</body>
<script th:src="@{static/layui/layui.js}"></script>
<script type="text/html" id="toolbar">
    {{# if(d.state == 0){  }}
    <a class="layui-btn layui-btn-sm layui-btn-warm background-style" lay-event="able">禁用</a>
    <a class="layui-btn layui-btn-sm layui-btn-danger background-style" lay-event="delete">删除</a>
    <a class="layui-btn layui-btn-sm background-style" lay-event="reset" >重置密码</a>

    {{# }else{             }}
    <a class="layui-btn layui-btn-sm layui-btn-warm background-style" lay-event="able">启用</a>
    <a class="layui-btn layui-btn-sm layui-btn-danger background-style" lay-event="delete">删除</a>
    <a class="layui-btn layui-btn-sm background-style" lay-event="reset" >重置密码</a>

    {{#      }}

</script>
<script type="text/html" id="toolbar1">
    {{# if(d.state == 0){  }}
    菜单已启用
    {{# }else{             }}
    菜单已禁用
    {{#      }}


</script>


<script th:src="@{static/back/js/menumanage.js}"></script>

</html>