<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户修改界面</title>
    <base th:href="@{/}">
    <link rel="stylesheet" type="text/css" th:href="@{static/layui/css/layui.css}"/>
</head>
<body>


<div id="addstaffdiv" style=" padding: 10px">

    <form class="layui-form" >

        <div class="layui-form-item">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-inline">
                <input type="text" id="username" name="username" th:text="${username}" required lay-verify="required" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">电话</label>
            <div class="layui-input-inline">
                <input type="text" id="phone" name="phone" th:text="${phone}" required lay-verify="required" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-block">
                <input type="radio"  name="sex" value="男" title="男" checked="">
                <input type="radio"  name="sex" value="女" title="女">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">年龄</label>
            <div class="layui-input-inline">
                <input type="text" id="age" name="age" required lay-verify="required" autocomplete="off"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 100px">部门</label>
            <div class="layui-input-inline">
                <select id="role" name="role" lay-verify="" lay-filter="role" style="margin-top: 4px;height: 30px">
                    <option value="01">药库</option>
                    <option value="02">药房</option>
                </select>
            </div>
        </div>
        <div id="docInfo" style="display: none">
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 100px">职位</label>
                <div class="layui-input-inline">
                    <select id="title" name="title" lay-verify="" lay-filter="title"
                            style="margin-top: 4px;height: 30px">
                        <option value="">请选择</option>
                        <option value="001">库管人员</option>
                        <option value="002">仓库经理</option>
                        <option value="005">采购人员</option>
                    </select>
                </div>
            </div>
        </div>
        <div id="docInfo2" style="display: none">
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 100px">职位</label>
                <div class="layui-input-inline">
                    <select id="title2" name="title2" lay-verify="" lay-filter="title"
                            style="margin-top: 4px;height: 30px">
                        <option value="">请选择</option>
                        <option value="003">药房销售</option>
                        <option value="004">药房经理</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-filter="formDemo" id="submit" >修改</button>
            </div>
        </div>
    </form>
</div>




<script th:src="@{static/layui/layui.js}"></script>
<script th:src="@{static/back/js/updateStaff.js}"></script>
</body>
</html>