<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户管理界面</title>
    <base th:href="@{/}">
    <link rel="stylesheet" type="text/css" th:href="@{static/layui/css/layui.css}"/>
</head>
<body>


<div>
    <button type="button" class="layui-btn layui-btn-warm" id="distribution">新增人员</button>
</div>

<table class="layui-hide" id="demo" lay-filter="test"></table>


<script type="text/html" id="barDemo">
    {{# if(d.rolecode =='000' ){  }}
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="info">重置密码</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="adjustment">调价</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="disable">停用</a>

    {{#      }else{      }}
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="update">修改</a>
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="open">启用</a>
    <a class="layui-btn layui-btn-xs" lay-event="close">禁用</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="info">重置密码</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="adjustment">调价</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="disable">停用</a>
    {{#      }      }}
</script>

<script th:src="@{static/layui/layui.js}"></script>
<script th:src="@{static/back/js/userTable.js}"></script>


</body>
</html>